body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #F9FAF8;
    background-color: #1F2937;
}

/* Remove Default styles on links*/
a {
    text-decoration: none;
    color: #E5E7EB;

}

/* Block 1 */
.block1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    padding-top: 10px;
    gap: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 820px;
    
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    gap: 20px;
}

.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 820px;
    padding-bottom: 100px;
    gap: 20px;

}

.left-side, .right-side {
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.content1 p {
    margin: 6px 0px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.left-side button {
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 6px;
    border-width: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    padding: 6px 16px;
}

.large-image {
    display: flex;
    align-items: stretch;
    width: 400px;
}

/* Block 2 */
.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictures {
    display: flex;
    gap: 30px;
}

h4 {

}

.pic {
    border: 2px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 6px;
    height: 100px;
    width: 100px;
}

/* Block 3 */
.block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

/* Block 4 */
.block4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block4 .content4 {
    display: flex;
    align-items: center;
    gap: 80px;
    background-color: #3882F6;
    border-radius: 6px;
}
